.firebase/
firebase-hosting-dev/.firebase/
node_modules/
firebase-hosting-dev/node_modules/
*.log

AUDIT_TRUNG_HAM_*.txt
_legacy_bak_*
QLTD_LEGACY_BACKUP_*
firebase-hosting-dev/package-lock.json
firebase-hosting-dev/*.bak
